@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
	display: inline-block;
	position: relative;
}
  
.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #A9C3DA;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

h1 {
	font-size: 60px;
	font-family: 'Open Sans', 'sans-serif';
}

::selection {
	background: #D7E0EA;
}

p {
	font-size: 20px;
	font-family: 'Open Sans', 'sans-serif';
}


